:root {
    --primary-color: #a855f7;
    --primary-color-dark: #9333ea;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url("photo3.jpg");
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.nav-content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: .3s;
}

nav.logo a:hover {
    color: var(--primary-color-dark);
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
    margin-left: auto;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

ul li a:hover {
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}

.section {
    background-color: var(--extra-light);
}

.section-container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: .5rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.title span {
    font-weight: 600;
}

.desciption {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}

.action-btns {
    display: flex;
    gap: 1rem;
}

.action-btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    margin-top: 1.5rem;
}

.hire-me {
    color: var(--primary-color);
}

.hire-me:hover {
    background-color: var(--primary-color-dark);
    color: #000000;
}

.portfolio {
    color: var(--primary-color);
}

.portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #000000;
}

.image {
    display: grid;
    align-items: center;
}

.image img {
    width: min(25rem, 90%);
    border-radius: 100%;
}

@media(width < 750px) {
    nav .checkbox {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    ul li a {
        font-size: 1.25rem;
    }

    .section-container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        
    }

    .image {
        grid-area: 1/1/2/2;
    }

    .action-btns {
        margin: auto;
    }
}

section.projects{
    height: 600px;
    background-color: white;
    
}

.heading{
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: heading-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes heading-animation{
    25%{}
    50%{color: red;}
    75%{color: #ff8c00;}
}

.project-image{
    margin: 20px 0;
}

.projects img{
    width: 29%;
    height: 250px;
    margin-top: 3%;
    box-shadow: 10px 10px 8px 10px #1f1e1e;
    border: 8px solid rgb(231,213,213);
    margin-left: 44px;
}

.projects img:hover{
    transform: scale(1.09);
    animation-name: border-animation;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}

@keyframes border-animation{
    25%{border-bottom: 8px solid #ff8c00;}
    50%{border-right: 8px solid #ff8c00;}
    75%{border-top: 8px solid #ff8c00;}
    100%{border-left: 8px solid #ff8c00;}
}

.project-title h2{
float: left;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-top: 25px;
}

.project-title .t1{
    margin-left:10%;
}

.project-title .t2{
    margin-left:15%;
}

.project-title .t3{
    margin-left:22%;
}


section.skills{
    height: 600px;
    background-color: white;
   
}

.headings{
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: heading-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes heading-animation{
    25%{}
    50%{color: red;}
    75%{color: #ff8c00;}
}

.skill-image{
    margin: 20px 0;
}

.skills img{
    width: 29%;
    height: 250px;
    margin-top: 3%;
    box-shadow: 10px 10px 8px 10px #1f1e1e;
    border: 8px solid rgb(231,213,213);
    margin-left: 44px;
}

.skills img:hover{
    transform: scale(1.09);
    animation-name: border-animation;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}

@keyframes border-animation{
    25%{border-bottom: 8px solid #ff8c00;}
    50%{border-right: 8px solid #ff8c00;}
    75%{border-top: 8px solid #ff8c00;}
    100%{border-left: 8px solid #ff8c00;}
}

.skill-title h2{
float: left;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-top: 25px;
}

.skill-title .t1{
    margin-left:10%;
}

.skill-title .t2{
    margin-left:21%;
}

.skill-title .t3{
    margin-left:21%;
}


section.resume{
    height: 600px;
    background-color: white;
    
}

.headingz{
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: heading-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.v1{
text-align: center;
margin-top: 15%;
font-size: 30px;
}


section.contact-form{
    height: 600px;
    background-color: white;
    
}

.heading{
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: heading-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}

.contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}

.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea{
width: 100%;
padding: 1.5em;
font-size: 18px;
color: black;
background: rgb(241, 241, 241);
border-radius: .8rem;
margin: 1rem 0;
resize: none;
}
